<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Compare</title>
    <style media="screen">
      div{
        width: 40vw;
        display:inline-block;
      }
    </style>
  </head>
  <body>
    <div>
      <p><%= product1.name %></p>
      <p><%= product1.description %></p>
      <p><%= product1.price %></p>
    </div>
    <div>
      <p><%= product2.name %></p>
      <p><%= product2.description %></p>
      <p><%= product2.price %></p>
    </div>
  </body>
</html>
